.ispravnoPolje{
    -fx-background-color: yellowgreen;
}
.neispravnoPolje{
    -fx-background-color: coral;
}
#image{
    -fx-background-image: url("/images/startPage.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
    -fx-background-size: cover, cover;
}
#btnWriteEmployeesJSON,
#btnWriteEmployeesXML,
#btnReportEmployee,
#btnDeleteEmployee,
#btnEditEmployee,
#btnAddEmployee,
#btnWriteReservationsXML,
#btnWriteReservationsJSON,
#btnWriteClientsJSON,
#btnWriteVehiclesJSON,
#btnWriteClientsXML,
#btnWriteVehiclesXML,
#btnAddClient,
#btnEditClient,
#btnDeleteClient,
#btnReportClient,
#btnReportReservation,
#btnDeleteReservation,
#btnEditReservation,
#btnAddReservation,
#btnEditVehicle,
#btnDeleteVehicle,
#btnVehicleReport,
#btnAddVehicle {
    -fx-background-size: 42 42;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

.deleteButton {
    -fx-background-size: 35 35;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

#btnEditVehicle, #btnEditReservation, #btnEditClient, #btnEditEmployee {
    -fx-background-image: url("/images/editIcon.png");
}
#btnDeleteVehicle, #btnDeleteReservation, #btnDeleteClient, .deleteButton , #btnDeleteEmployee{
    -fx-background-image: url("/images/deleteIcon.png");
}
#btnVehicleReport, #btnReportReservation, #btnReportClient, #btnReportEmployee  {
    -fx-background-image: url("/images/reportIcon.png");
}
#btnAddVehicle, #btnAddReservation, #btnAddClient, #btnAddEmployee{
    -fx-background-image: url("/images/addIcon.png");
}
#btnWriteVehiclesXML, #btnWriteClientsXML, #btnWriteReservationsXML, #btnWriteEmployeesXML{
    -fx-background-image: url("/images/xmlIcon.png");
}
#lblName, #lblBrand, #lblModel, #lblColor, #lblEngine, #lblTransmission, #lblYear, #lblType, #lblPrice, #lblFuelConsumption, #lblAvailability, #lblNmbDoors, #lblNmbSeats{
    -fx-font-weight: bold;
}
#btnWriteVehiclesJSON, #btnWriteClientsJSON, #btnWriteReservationsJSON, #btnWriteEmployeesJSON{
    -fx-background-image: url("/images/jsonIcon.png");
}
